<form class="form">
  <div class="form-group">
    <label class="label">Please Select Your State</label>
  </div>
  <select class="select" font-family =Georgia, serif><option value="">- Select State  -</option><option value="1">Gujarat</option><option value="2">Madhya Pradesh</option><option value="3">Maharashtra</option><option value="4">Telangana</option></select>
  <div class="form-group">
    <label class="label">Please Select Your District</label>
  </div>
  <select class="select"><option value="">- Select District -</option><option value="1">Akola</option><option value="2">Aurangbad</option><option value="3">Buldhana</option><option value="4">Nashik</option><option value="5">Pune</option></select>
  <div class="form-group">
  </div>
  <div class="form-group">
    <button type="submit" class="button">Send</button>
  </div>
</form>
<style>* {
  box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .form{
    border-radius:3px;
    padding:10px 15px;
    background-color:rgba(0,0,0,0);
    height:17px;
    top:176px;
    width:auto;
    bottom:0;
    position:relative;
  }
  .select{
    width:19%;
    margin-bottom:15px;
    padding:10px 0 10px 85px;
    border-radius:20px 20px 20px 20px;
    color:#fff;
    background-color:#554c57;
    border:none;
    font-size:15px;
    height:40px;
    left:590px;
    margin:0 0 18px 0;
    top:0;
    right:0;
    position:relative;
  }
  .label{
    width:100%;
    display:block;
    right:0;
    text-align:center;
    background-color:rgba(0,0,0,0);
    border:0 none rgba(0,0,0,0);
    font-size:25px;
    font-weight:400;
    font-family:Georgia, serif;
    letter-spacing:1px;
    margin:0 0 17px 0;
    padding:0 0 0 0;
    color:#000000;
    text-decoration:none;
    opacity:1;
    height:auto;
    top:auto;
    position:static;
  }
  .button{
    width:8%;
    margin:15px 0;
    background-color:#785580;
    border:none;
    color:#fff;
    border-radius:20px 20px 20px 20px;
    padding:7px 10px;
    font-size:1em;
    cursor:pointer;
    left:675px;
    right:-36px;
    position:relative;
  }
  *{
    box-sizing:border-box;
  }
  body{
    margin:0;
  }
</style>